<H1>Combo Test</H1>

<fdp-form-group [noLabelLayout]="false">
  <fdp-form-field id="mobile" label="Mobile Mode Combobox">
    <fdp-multi-combobox #combo
      id="users11"
      name="users"
      placeholder="Type some text..."
      displayKey="fullName"
      [dataSource]="userDataSource"
      [showSecondaryText]="true"
      secondaryTextAlignment="right"
      secondaryKey="department"
      (selectionChange)="onSelect($event)"
      [selectedItems]="selectedItems"
    ></fdp-multi-combobox>
    <p>Selected: {{ selectedItems | json }}</p>
  </fdp-form-field>
</fdp-form-group>

